node_modules
/node_modules
.output
.vercel
/.svelte-kit/*
.svelte-kit/*
/build
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.svelte-kit/generated/server/internal.js

.svelte-kit/generated/server/internal.js
